HOST=0.0.0.0
PORT=1337
APP_KEYS=generate-with-npm-run-setup-env
API_TOKEN_SALT=generate-with-npm-run-setup-env
ADMIN_JWT_SECRET=generate-with-npm-run-setup-env
TRANSFER_TOKEN_SALT=generate-with-npm-run-setup-env
JWT_SECRET=generate-with-npm-run-setup-env
ENCRYPTION_KEY=generate-with-npm-run-setup-env
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
EXAMPLE_SEED=false
